{{!-- <p>{{data}}</p> --}}
<h1>HISTORICAL PRICE-VOLUME EVOLUTION</h1>
<nav class="udl-desc">
   <label class="label-name">Indice Code:</label>
    <select id="udl-selected">
        {{#each uniquelistUdl}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <span class="udl-long-name">
        <label class="label-name">Long Name:</label>
        <div id="udl-description"></div>
    </span>
    {{!-- <input type="range" multiple value="0,100" /> --}}
    <span class="multi-range">
        <label class="label-name"> Dates: </label>
        <label id="start-date"></label>
        <input type="range" min="0" max="100" value="5" id="lower">
        <input type="range" min="0" max="100" value="95" id="upper">
        <label id="end-date"></label>
    </span>
</nav>
{{!-- <div></div> --}}
<span class="all-chart">
    <div id="myChartPrice" class="chart"></div>
    <div id="myChartTotalVolume" class="chart"></div>
    <div id="myChartADV" class="chart"></div>
    <div class="chart">
        <div id="mytable-volume-details"></div>
        {{!-- <div id="mytable-volume"></div> --}}
    </div>
    <div id="myChartDonut" class="chart"></div>
    {{!-- <span class="chart"> --}}
        {{!-- <h2>GLOBAL VOLUME PER YEAR</h2> --}}
        {{!-- <div id="mytable-volume"></div> --}}
        {{!-- </span> --}}
</span>