{{!-- <p>{{data}}</p> --}}
<h1>INDICE NAME</h1>
<nav class="udl-desc">
    <select id="udl-selected">
        {{#each uniquelistUdl}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <div id="udl-description"></div>
</nav>
{{!-- <div></div> --}}
<div id="myChartPrice" class="chart"></div>
<div id="myChartTotalVolume" class="chart"></div>
<div id="myChartADV" class="chart"></div>