<div>
  <h1>FINANCIAL DATA CHARTS FOR YOU</h1>
  
  <span class="container">
    <div class="div-container">
      HISTORICAL PRICE FROM API<i>(Source: Alpha Vantage) </i> <img src="/images/alphavantage.jpg" class="img-source"></img>
    </div>
    <div class="div-container">HISTORICAL VOLUME FROM Cboe <i>(Source: Cboe: Chicago Board Options Exchange) </i> <img
        src="/images/cboe.png" class="img-source"></img></div>
    <div class="div-container">AGGREGATE VOLUMES & INSERT IN MONGODB WITH PYTHON <img src="/images/python.jpg" class="img-source"></img></div>
    <div class="div-container"><span class="span-container">PERFORM CALCULATION WITH SCRIPT IN PYTHON</span><span>USING
        LIBRAIRIES: HIGCHARTS - DATATBLES - PLOTLY</span></div>
  </span>
</div>